[run]
source = dynaconf

[report]
show_missing = true
fail_under = 95
omit =
    */python?.?/*
    */site-packages/nose/*
    dynaconf/default_settings.py
    dynaconf/test_settings.py
    dynaconf/utils/functional.py
    dynaconf/loaders/redis_loader.py
    dynaconf/loaders/vault_loader.py
    dynaconf/loaders/__init__.py
    dynaconf/tests_functional/*
    dynaconf/vendor/*
    dynaconf/vendor_src/*
    dynaconf/contrib/django_dynaconf/*
