[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-sugar = "*"
flake8 = "*"
pep8-naming = "*"
flake8-debugger = "*"
flake8-print = "*"
flake8-todo = "*"
radon = "*"

[packages]
six = "*"
redis = "*"
wheel = "*"
toml = "*"
future = "*"
m2r = "*"
PyYAML = "*"
Flask = "*"
