# base
redis
flask>=1.0
setuptools>=38.6.0
configobj
hvac
django
# django-debug-toolbar 4.4.0 has a breaking change for our tests
# this is a workaround, we may adapt it later
# https://django-debug-toolbar.readthedocs.io/en/latest/changes.html#id3
django-debug-toolbar~=4.3.0
boto3

# release
wheel
twine
git-changelog
bump-my-version

# testing
pytest
pytest-cov
pytest-mock
commentjson
pytest-docker
tox

# style check
radon
pre-commit
mypy
ruff
typos

# tools
ipython<=8.12.1
ipdb
# python-minifier # Doesnt work with 3.12, must be installed by CI on release job
pdbr[ipython]

# MKDOCS
mkdocs>=1.1.2
mkdocstrings[python]
mkdocs-material>=5.3.2
mkdocs-material-extensions>=1.0
mkdocs-git-revision-date-plugin
mkdocs-autorefs
pymdown-extensions
Jinja2>3.0.0


# editable dynaconf
--editable .
