# base
redis
wheel
twine
flask>=1.0
setuptools>=38.6.0
configobj
hvac
django
gitchangelog

# testing
codecov
pytest
pytest-cov
pytest-mock
commentjson
docker-compose
lovely-pytest-docker
tox

# style check
flake8
pep8-naming
flake8-debugger
flake8-print
flake8-todo
radon
pre-commit

# tools
ipython
ipdb

# documentation
sphinx
recommonmark
docutils>=0.14
aafigure>=0.6

# MKDOCS
mkdocs
mkdocs-material
#mkdocs-versioning
#mkdocs-new-features-notifier
#mkdocs-multilang
#mkdocs-nav-enhancements
#mkdocs-git-revision-date-localized-plugin

# editable dynaconf
--editable .
