# This file exists only for netlify

# mkdocs-multilang
# mkdocs-nav-enhancements
# mkdocs-new-features-notifier
# mkdocs-versioning
# mkdocs-material-extensions

mkdocs
pymdown-extensions
mkdocs-material
mkdocs-git-revision-date-plugin
Jinja2>3.0.0
typer~=0.6.1
PyYAML~=6.0
