# This file exists only for netlify

# mkdocs-multilang
# mkdocs-nav-enhancements
# mkdocs-new-features-notifier
# mkdocs-versioning
# mkdocs-material-extensions

mkdocs
pymdown-extensions
mkdocs-material
mkdocs-git-revision-date-plugin
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-section-index
mkdocstrings[python]
Jinja2>3.0.0
