# base
six
redis
wheel
PyYAML
toml
flask>=0.12
m2r
python-box

# testing
coveralls
pytest
pytest-cov

# style check
flake8
pep8-naming
flake8-debugger
flake8-print
flake8-todo
radon

# docs
pypandoc

# editable dynaconf
--editable .
