# This file exists only for netlify
mkdocs==1.1.2
mkdocs-git-revision-date-localized-plugin==0.7.3
mkdocs-material==6.1.6
mkdocs-material-extensions==1.0.1
mkdocs-multilang==0.1.3
mkdocs-nav-enhancements==0.9.1
mkdocs-new-features-notifier==0.1.6
mkdocs-versioning==0.3.1
pymdown-extensions==8.0.1
